<%
disk_src_attrs = {
  'file'    => ['file',],
  'block'   => ['dev',],
  'network' => ['protocol','name'],
  'volume'  => ['pool','volume'],
}
-%>

<domain type='<%= @type %>'>
  <name><%= @name %></name>
  <title><%= @domain_title %></title>
  <% if @uuid -%>
  <uuid><%= @uuid %></uuid>
  <% end -%>
  <description><%= @description %></description>
  <memory unit='MiB'><%= @max_memory %></memory>
  <currentMemory unit='MiB'><%= @initial_memory %></currentMemory>
  <vcpu><%= @cpus %></vcpu>
  <% if @cpu_model -%>
  <cpu mode='<%= @cpu_mode %>'>
    <% if @cpu_mode == 'custom' -%>
    <model><%= @cpu_model %></model>
    <% end -%>
  </cpu>
  <% end -%>
  <os>
    <type arch='x86_64' <% if @machine_type -%>machine='<%= @machine_type %>'<% end-%>>hvm</type>
    <% if @bootmenu -%>
    <bootmenu enable='yes' />
    <% end -%>
    <% if @boot != 'per-device' -%>
    <boot dev='<%= @boot %>'/>
    <% end -%>
  </os>
  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>
  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>restart</on_crash>
  <devices>
    <%- %><%= scope.call_function('epp', ["libvirt/domain/generic.epp", { 'elements'=>@devices_real, 'trim'=>4 }]) -%>
    <%- %><%= scope.call_function('epp', ["libvirt/domain/generic.epp", { 'elements'=>@additionaldevices, 'trim'=>4 }]) -%>
    <%- @disks.each_with_index do | disk, i | -%>
      <%- %><%= scope.call_function('epp', ["libvirt/domain/device_disk.epp", { 'disk'=>disk, 'ind'=>(i+97).chr, 'disk_src_attrs'=>disk_src_attrs, 'boot'=>@boot }]) -%>
    <%- end -%>
    <%- @interfaces.each do | iface | -%>
      <%- %><%= scope.call_function('epp', ["libvirt/domain/device_interface.epp", { 'iface'=>iface, 'boot'=>@boot } ]) -%>
    <%- end -%>
  </devices>
</domain>

