<%
disk_src_attrs = {
  'file'    => ['file',],
  'block'   => ['dev',],
  'network' => ['protocol','name'],
  'volume'  => ['pool','volume'],
}
-%>

<domain type='<%= @type %>'>
  <name><%= @name %></name>
  <title><%= @domain_title %></title>
  <%- if @uuid -%>
  <uuid><%= @uuid %></uuid>
  <%- end -%>
  <description><%= @description %></description>
  <%- %><%= scope.call_function('epp', ["libvirt/domain/generic.epp", { 'elements'=>@domconf_real, 'trim'=>2 }]) -%>
  <devices>
    <%- %><%= scope.call_function('epp', ["libvirt/domain/generic.epp", { 'elements'=>@devices_real, 'trim'=>4 }]) -%>
    <%- %><%= scope.call_function('epp', ["libvirt/domain/generic.epp", { 'elements'=>@additionaldevices, 'trim'=>4 }]) -%>
    <%- @disks.each_with_index do | disk, i | -%>
      <%- %><%= scope.call_function('epp', ["libvirt/domain/device_disk.epp", { 'disk'=>disk, 'ind'=>(i+97).chr, 'disk_src_attrs'=>disk_src_attrs, 'boot'=>@boot }]) -%>
    <%- end -%>
    <%- @interfaces.each do | iface | -%>
      <%- %><%= scope.call_function('epp', ["libvirt/domain/device_interface.epp", { 'iface'=>iface, 'boot'=>@boot } ]) -%>
    <%- end -%>
  </devices>
</domain>

